<div class="center">
<h1>Calculatrice</h1>

<form action="result">
    <input type="number" name="number1" placeholder="Entrez le premier nombre">
    <br>
    <br>
    <input type="number" name="number2" placeholder="Entrez le second nombre">
    <br>
    <br>
    <button type="submit" name="addition">Addition</button>
    <button type="submit" name="soustraction">Soustraction</button>
    <button type="submit" name="multiplication">Multiplication</button>
    <button type="submit" name="division">Division</button>

</form>
</div>

<style>
  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #a5addb;
    padding: 10px;
  }
</style>